<div class="footer-basic" style="background: var(--gray-dark);">
    {{ numrecs }}
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="../index.html" style="color: rgb(170,170,170);">Home</a></li>
            {{ maplink }}
            <li class="list-inline-item"><a href="1-references.html" style="color: rgb(170,170,170);">References</a></li>
            <li class="list-inline-item"><a href="1-updates.html" style="color: rgb(170,170,170);">Updates</a></li>
            <li class="list-inline-item"><a href="1-about.html" style="color: rgb(170,170,170);">About</a></li>
        </ul>
        <p class="copyright">Generated: {{ gdatetime }}</p>
    </footer>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>
