---
layout: shropshire-bs
title: Churches of Shropshire - Summary
maplink: https://www.google.co.uk/maps/d/edit?mid=1tKWWckqgFD7Xa1q3cFnRFhitEE0vNI7d&usp=sharing
---

{% include 1-header-bs.html %}

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Churches %}
  {% assign numrecs = numrecs | plus: 1 %}
  {% if item.Type == "Item" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6 col-lg-3">
<img src="assets/images/churches/{{ item.Thumbnail }}" alt="" class="imgl" align="right">
</div>
<div class="col-md-6 col-lg-9">
<h3>{{ item.Name }}</h3>
<p><b>Diocese: {{ item.Diocese }}</b></p>
<p><b>Date: {{ item.Date }}</b></p>
<p><b>Grade: {{ item.Grade }}</b></p>
{{ item.Description | markdownify }}
</div>
</div>
</div>
</div>
  {% endif %}
{% endfor %}

{% include 1-footer-bs.html %}
