---
layout: shropshire-bs
title: Churches of Shropshire - Dedication
---

{% include 1-header-bs.html %}

<div>
<div class="container">
<div class="row">
<div class="col-md-6">
<p>All churches are dedicated to God, but by the 4th Century it was common practice to dedicate a Christian place of worship to one or more patron saints.  Once the Church was established in England it became practice to dedicate a new church's patron saint during the act of consecration by the diocesan bishop.  But still many churches remained undedicated up until the thirteenth century.  The vast majority of the churches in the Church of England are dedicated to one or more people.  Most are dedicated to a single 'patron saint', or one of the persons of God, such as Holy Trinity or Christ Church. In the 13th Century, more churches were dedicated, with one Bishop even mandating that churches in his diocese display the date of dedication and the name of patron saint.</p>
<p>The Protestant Reformation of the 16th Century swept away centuries of church tradition; the whitewashing of sacred images led to a backlash against saints associated with the church.  Whilst not prohibiting them, the Book of Common Prayer contained no text for a dedication service, and with newly constructed churches becoming rarer the practice became less well known.  By the 18th Century many churches had forgotten their dedication entirely, so that when the first books were published listing church dedications in the early 18th Century many of the dedications had been lost.</p>
<p>It was the Victorian era, the first great English church-building era for centuries, that finally revived the interest in patron saints.  By this stage many of the original dedications of churches had been rediscovered, whereas others changed the dedication to a new patron saint for any number of reasons.  Others gave their dedication a more prosaic twist, giving rise to the many churches now known as "St Michael and All Angels", "All Hallows", or "The Blessed Virgin Mary".  By the 20th Century, the dedication's continued usage was once again assured, with common usage referring to "St Peter's" as opposed to "Wrockwardine Parish Church".  In many cases these are names that have been used at that site for well over a thousand years, and in others they are simply 18th Century mistakes or creations of the Victorian age.</p>
<p>There was no single set of rules that governed the choice of patron saint for a church.  The most popular saints in terms of numbers of dedications demonstrate the influence of Rome on the history of English Christianity, as well as being major characters in Biblical studies.  However, one of the main reasons for the choice of many dedications was that the church was founded on or near the site of a saint's activity (e.g. St Chad in the case of Shropshire).</p>
</div>
</div>
</div>
</div>

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Churches_Saint %}

  {% assign orientation = "right" %}
  <div>
  <div class="container">
  <div class="row">
  <div class="col-md-6">
    <h1>{{ item.Saint }}</h1>
    {{ item.Description | markdownify }}
  </div>
  </div>
  </div>
  </div>
{% for church in item.Churches %}
  {% assign numrecs = numrecs | plus: 1 %}
  {% if orientation == "left" %}
    {% assign orientation = "right" %}
<div class="col-md-6">
<h3>{{ church.Church }}</h3>
<img class="imgc" src="assets/images/churches/{{ church.Photo }}">
</div>
</div>
</div>
</div>
  {% else %}
    {% assign orientation = "left" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6">
<h3>{{ church.Church }}</h3>
<img class="imgc" src="assets/images/churches/{{ church.Photo }}">
</div>
  {% endif %}
  {% endfor %}
  {% if orientation == "left" %}
  <div class="col-md-6">
  </div>
  </div>
  </div>
  </div>
  {% endif %}
  
{% endfor %}

{% include 1-footer-bs.html %}
