---
layout: shropshire-bs
title: Gardens of Shropshire
---

{% include 1-header-bs.html %}

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Gardens %}
  {% assign numrecs = numrecs | plus: 1 %}
  {% if item.Type == "Item" %}
    {% if orientation == "left" %}
      {% assign orientation = "right" %}
<div class="col-md-6">
<h3>{{ item.Name }}</h3>
<img class="imgc" src="assets/images/gardens/{{ item.Thumbnail }}">
<p>&nbsp;</p>{{ item.Description | markdownify }}
</div>
</div>
</div>
</div>
    {% else %}
      {% assign orientation = "left" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6">
<h3>{{ item.Name }}</h3>
<img class="imgc" src="assets/images/gardens/{{ item.Thumbnail }}">
<p>&nbsp;</p>{{ item.Description | markdownify }}
</div>
    {% endif %}
  {% endif %}
{% endfor %}
{% if orientation == "left" %}
<div class="col-md-6">
</div>
</div>
</div>
</div>
{% endif %}
      
{% include 1-footer-bs.html %}
