---
layout: shropshire-bs
title: History of Shropshire
---

{% include 1-header-bs.html %}

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-History %}

{% assign numrecs = numrecs | plus: 1 %}

{% if item.Type == "Header" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6 col-lg-2">
<h2>{{ item.Date }}</h2>
</div>
<div class="col-md-6 col-lg-10">
{{ item.Description | markdownify }}
</div>
</div>
</div>
</div>
{% endif %}

{% if item.Type == "Item" %}
{% if orientation == "right" %}
  {% assign orientation = "left" %}
{% else %}
  {% assign orientation = "right" %}
{% endif %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6 col-lg-2">
<h2>{{ item.Date }}</h2>
</div>
<div class="col-md-6 col-lg-10">
<h3>{{ item.Name }}</h3>
{% if orientation == "right" %}
<img class="imgl" src="assets/images/history/{{ item.Thumbnail }}"align="right">
{% else %}
<img class="imgr" src="assets/images/history/{{ item.Thumbnail }}"align="left">
{% endif %}
{{ item.Description | markdownify }}
</div>
</div>
</div>
</div>
{% endif %}

{% if item.Type == "Quote" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6 col-lg-2">
<i>{{ item.Description | markdownify }}</i>
</div>
<div class="col-md-6 col-lg-10">
</div>
</div>
</div>
</div>
{% endif %}

{% endfor %}

{% include 1-footer-bs.html %}
