---
layout: shropshire-bs
title: Landscape of Shropshire
---

{% include 1-header-bs.html %}

{% assign numrecs = 0 %}

{% assign orientation = "neither" %}

{% for item in site.data.Shropshire_Notebook-Landscape %}
  {% if item.Type == "Intro" %}
{% if orientation == "left" %}
<div class="col-md-6">
</div>
</div>
</div>
</div>
{% endif %}
{% assign orientation = "neither" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6">
<h3>{{ item.Intro }}</h3>
{{ item.Description | markdownify }}
</div>
<div class="col-md-6">
</div>
</div>
</div>
</div>
  {% endif %}
  
  {% if item.Type == "Item" %}
    {% assign numrecs = numrecs | plus: 1 %}
    {% if orientation == "left" %}
      {% assign orientation = "right" %}
<div class="col-md-6">
<img class="imgc" src="assets/images/landscape/{{ item.Thumbnail }}">
</div>
</div>
</div>
</div>
    {% else %}
      {% assign orientation = "left" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6">
<img class="imgc" src="assets/images/landscape/{{ item.Thumbnail }}">
</div>
    {% endif %}
  {% endif %}
{% endfor %}
{% if orientation == "left" %}
<div class="col-md-6">
</div>
</div>
</div>
</div>
{% endif %}
      
{% include 1-footer-bs.html %}
