---
layout: shropshire-bs
title: Towns of Shropshire
---

{% include 1-header-bs.html %}

{% assign numrecs = 0 %}

<div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Whitchurch</h2>
</div>
</div>
</div>
</div>

{% assign orientation = "unknown" %}

{% for item in site.data.Shropshire_Notebook-Whitchurch %}
  {% assign numrecs = numrecs | plus: 1 %}
  {% if item.Type == "Item" %}
    {% if orientation == "left" %}
      {% assign orientation = "right" %}
<div class="col-md-6">
<img class="imgc" src="assets/images/places/{{ item.Thumbnail }}">
{{ item.Description | markdownify }}
</div>
</div>
</div>
</div>
    {% else %}
      {% assign orientation = "left" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6">
<img class="imgc" src="assets/images/places/{{ item.Thumbnail }}">
{{ item.Description | markdownify }}
</div>
    {% endif %}
  {% endif %}
{% endfor %}
{% if orientation == "left" %}
<div class="col-md-6">
</div>
</div>
</div>
</div>
{% endif %}

{% include 1-footer-bs.html %}
