---
layout: shropshire-bs-map
title: Map of Shrewsbury
---

{% include 1-header-bs.html %}

<table style="width:100%">
<tr>
<td style="width:50%">
<div id="map" style="height: 600px;"></div>
</td><td style="width:50%">
<iframe name="photos" width="100%" height="600px"></iframe>
</td>
</tr>
</table>

<script>

	const map = L.map('map').setView([52.7069, -2.7492], 13);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	const marker = L.marker([52.711205, -2.749804]).addTo(map)
		.bindPopup('<a href="1-about.html" target="photos" rel="noopener noreferrer">whatever text you want to display for your link</a>');

	const popup = L.popup()
		.setLatLng([52.7069, -2.7492])
		.setContent('latlng popup.');

	function onMapClick(e) {
		navigator.clipboard.writeText(e.latlng.toString());
		popup
			.setLatLng(e.latlng)
			.setContent(`You clicked the map at ${e.latlng.toString()}`)
			.openOn(map);
	}

	map.on('click', onMapClick);

</script>

{% include 1-footer-bs.html %}
