---
layout: shropshire-bs
title: Latest Images
---

{% include 1-header-bs.html %}

{% assign nextdate = "0000-00" %}

{% assign orientation = "unknown" %}

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Recent %}

{% assign numrecs = numrecs | plus: 1 %}

{% assign filedatea = item.Thumbnail | split: '/' %}
{% assign filedate = filedatea[1] | truncate: 7, "" %}
{% if filedate != nextdate %}
{% if orientation == "right" %}
</div>
</div>
</div>
{% endif %}
<div>
<div class="container">
<div class="row">
<div class="col-md-12">
<hr>
<h1>{{ filedate }}</h1>
</div>
</div>
</div>
</div>
{% assign nextdate = filedate %}
{% assign orientation = "left" %}
{% endif %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
<div>
<div class="container">
<div class="row" data-aos="fade-up" data-aos-duration="500">
<div class="col-md-6">
<img class="imgc" src="assets/images/{{ item.Thumbnail }}">
</div>
{% else %}
  {% assign orientation = "left" %}
<div class="col-md-6">
<img class="imgc" src="assets/images/{{ item.Thumbnail }}">
</div>
</div>
</div>
</div>
{% endif %}

{% endif %}

{% endfor %}

{% if orientation == "right" %}
</div>
</div>
</div>
{% endif %}

{% include 1-footer-bs.html %}
