---
layout: shropshire-bs
title: References
---

{% include 1-header-bs.html %}

<div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Books</h2>
<p>The following books have provided a useful source of reference:</p>
<table>
<tr>
<td><img src="assets/images/Book1.jpg" alt="" height="300"></td>
<td><img src="assets/images/Book2.jpg" alt="" height="300"></td>
<td><img src="assets/images/Book3.jpg" alt="" height="300"></td>
</tr>
<tr>
<td><img src="assets/images/Book4.jpg" alt="" height="300"></td>
<td><img src="assets/images/Book5.jpg" alt="" height="300"></td>
<td><img src="assets/images/Book6.jpg" alt="" height="300"></td>
</tr>
<tr>
<td><img src="assets/images/Book7.jpg" alt="" height="300"></td>
<td></td>
<td></td>
</tr>
</table>
</div>
</div>
</div>
</div>

<div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Web Sites</h2>
<p>The following web sites have provided a useful source of reference:</p>
<p><a href="http://www.shropshirehistory.org.uk/" target="_blank">Discovering Shropshire's History</a></p>
<p><a href="http://kepn.nottingham.ac.uk/" target="_blank">Key to English Place Names</a></p>
<p><a href="https://historicengland.org.uk/" target="_blank">Historic England</a></p>
<p><a href="https://www.shropshirehct.org.uk/" target="_blank">Shropshire Historic Churches Trust</a></p>
<p><a href="https://www.achurchnearyou.com/" target="_blank">A Church Near You</a></p>
<p><a href="https://www.english-heritage.org.uk/visit/places/wroxeter-roman-city/history/" target="_blank">History of Wroxeter Roman City</a></p>
</div>
</div>
</div>
</div>

<div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Wikipedia Pages</h2>
<p>The following Wikipedia pages have provided a useful source of reference:</p>
<p><a href="https://en.wikipedia.org/wiki/History_of_Shropshire" target="_blank">History of Shropshire</a></p>
<p><a href="https://en.wikipedia.org/wiki/History_of_Wales" target="_blank">History of Wales</a></p>
<p><a href="https://en.m.wikipedia.org/wiki/Cornovii_(Midlands)" target="_blank">Cornovii</a></p>
<p><a href="https://en.wikipedia.org/wiki/Pengwern" target="_blank">Pengwern</a></p>
<p><a href="https://en.wikipedia.org/wiki/Mercia" target="_blank">Mercia</a></p>
<p><a href="https://en.m.wikipedia.org/wiki/Wreocens%C3%A6te" target="_blank">Wreocensæte</a></p>
<p><a href="https://en.wikipedia.org/wiki/Magons%C3%A6te" target="_blank">Magonsaete</a></p>
<p><a href="https://en.wikipedia.org/wiki/Religion_in_Mercia" target="_blank">Religion in Mercia</a></p>
<p><a href="https://en.wikipedia.org/wiki/Diocese_of_Lichfield"  target="_blank">Diocese of Lichfield</a></p>
<p><a href="https://en.wikipedia.org/wiki/Diocese_of_Hereford"  target="_blank">Diocese of Hereford</a></p>
</div>
</div>
</div>
</div>

{% include 1-footer-bs.html %}
